<mat-toolbar color='primary'>
  <button mat-icon-button class="home-button" routerLink='/home'>
    <mat-icon>home</mat-icon>
  </button>
  <span>New List</span>
</mat-toolbar>

<div class="new-list-screen">
  <div class="right-side">
    <div class="new-list-content">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="todoListName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Creator</mat-label>
        <input matInput [(ngModel)]="creatorName">
      </mat-form-field>
      <br>
      <!-- Not functional-->
      <div *ngFor="let toDoItem of toDoItems">
        <mat-checkbox>{{toDoItem.itemName}}</mat-checkbox>
      </div>
      <br>
      <!-- Adds items but is unable to print them out yet -->
      <mat-form-field>
        <mat-label>Add New Item</mat-label>
        <input matInput [(ngModel)]="itemName" (keyup.enter)="addItem()">
      </mat-form-field>
    </div>

    <a mat-raised-button class=" create-new-button" color="primary" (click)="addList()" routerLink="/list">Create</a>
  </div>
</div>