<mat-toolbar color='primary'>
  <button mat-icon-button class="home-button" routerLink='/home'>
    <mat-icon>home</mat-icon>
  </button>
  <span>List 1</span>
</mat-toolbar>

<div class="view-list-screen">


  <div class="right-side">
    <div class="list-content">
      <h2>Created by: John Calvin</h2>

      <div>
        <mat-checkbox>List item 1</mat-checkbox>
        <br>
        <mat-checkbox>List item 2</mat-checkbox>
        <br>
        <mat-checkbox>List item 3</mat-checkbox>
      </div>
    </div>

    <a mat-fab color="accent" routerLink="/edit-list">
      <mat-icon>create</mat-icon>
    </a>
  </div>
</div>