<mat-toolbar color='primary'>
  <button mat-icon-button class="home-button" routerLink='/home'>
    <mat-icon>home</mat-icon>
  </button>
  <span>Groceries</span>
</mat-toolbar>

<div class="view-list-screen">


  <div class="right-side">
    <div class="list-content">
      <h2>Created by: Joe</h2>
      <div class="todo-items-content" *ngFor="let list of ds.allToDos">
        <mat-checkbox (change)="completeItem()">{{list.item_name}}</mat-checkbox>
      </div>
    </div>

    <a mat-fab color="accent" routerLink="/edit-list">
      <mat-icon>create</mat-icon>
    </a>
  </div>
</div>